# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bin/ch14/Java_logo.png
bin/ch14/My_logo.png
bin/ch14/number.txt
bin/ch14/proverb.txt
bin/ch14/random.txt
bin/ch14/train.txt
